@import '../settings/settings';

.about{
    display: flex;
    flex-flow: row;
    .content{
        flex: 0.8;
        margin: auto 0;
        padding-left: 80px;
        color: $text;

        div{
            font-family: painter;
            h1{ 
                letter-spacing: 3px;
                font-family: snow;
                color: $textHover;
                margin: 0;
                span{
                    transition: 0.5s ease;
                    &:hover{
                        font-size:50px;
                    }
                }
            }
            &::before{
                content: '<h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
            }
            &::after{
                content: '</h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
            }
        }
        section {
            padding: 40px 0;
            p   {
                font-family: serif;
                text-align: left;
                opacity: 0.8;
            }
        }
        &::before{
            content: '<body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-10%
        }
        &::after{
            content: '</body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-10%
        }
    }
    .styling{
        flex: 0.5;
        margin: auto 2%;
        background: $textHover;
        border-radius: 10px;
        position: relative;
        text-align: center;
        box-shadow: 10px 15px 5px 0px $text/2;

        img{
            width: 400px;
            border-radius: 50%;
            border: 2px solid lightgray;
            padding-top: 10px;
            margin-top: 2%;
        }
        &::before{
            content: '☄';
            color: white;
            font-size: 50px;
            transform: rotate(230deg);
            position: absolute;
            left: 13%;
            opacity: 0.7;
        }
    }
}