@import '../settings/settings';

.about{
    display: flex;
    flex-flow: row;
    @media screen and(max-width:700px) {
        flex-flow: column;
        justify-content: space-between;
    }
    .content{
        flex: 0.6;
        margin: auto 0;
        padding-left: 80px;
        color: $text;
        @media screen and(max-width:700px) {
            padding-left: 0;
            margin-left:10%;
        }

        div{
            font-family: painter;
            h1{ 
                letter-spacing: 3px;
                font-family: snow;
                color: $textHover;
                margin: 0;
                
                @media screen and(max-width:700px) {
                    font-size: 35px;
                }
                span{
                    transition: 0.5s ease;
                    &:hover{
                        font-size:50px;
                    }
                }
            }
            &::before{
                content: '<h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
            }
            &::after{
                content: '</h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
            }
        }
        section {
            padding: 40px 0;
            p   {
                font-family: 'Jura', sans-serif;
                text-align: left;
                opacity: 0.8;
                font-weight: bold;
                @media screen and(max-width:700px) {
                    font-size: 13px;
                }
                
            }
            @media screen and(max-width:700px) {
                padding: 0;
            }
            &::before{
                content: '<span>';
                opacity: 0.5;
                position: relative;
                left:-5%;
                font-weight: bolder;
                color: #777;
                font-family: painter;
                @media screen and (max-width:700px){
                    position: absolute;
                    top: -50%;
                    left: 2%;
                }
            }
            &::after{
                content: '</span>';
                opacity: 0.5;
                position: relative;
                left:-5%;
                color: #777;
                font-weight: bolder;
                font-family: painter;
            }
        }
        &::before{
            content: '<body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-20%
        }
        &::after{
            content: '</body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-20%
        }
    }
}