@import '../settings/settings';

.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .content{
        border-radius: 10px;
        color: $text;
        padding-left: 7em;
        animation: animLeft 01s forwards ease-out;
        @media screen and(max-width:700px) {
            padding-left: 5em;
            padding-top: 5em;
        }

        div{
            font-family: painter;
            display: flex;
            flex-flow: column;
            h1{ 
                letter-spacing: 2px;
                font-family: snow;
                margin: 10% 0 3% 0;
                font-size: 3.5em;
                @media screen and(max-width:700px) {
                    font-size: 27px;
                    letter-spacing: 0;
                }
                .BigC{
                    color: $textHover;
                }
                span{
                    &:hover{
                        animation: rubberBand;
                        animation-duration: 2s;
                    }
                }
            }
            p{
                font-family: serif;
                font-weight: bold;
                letter-spacing: 2px;
                color: $textHover;
                margin-bottom:5%;
                position: relative;
                @media screen and(max-width:700px) {
                    font-size: 13px;
                }

                &::before{
                    content: '<span>';
                    opacity: 0.5;
                    position: relative;
                    left:-2%;
                    font-weight: bolder;
                    color: #777;
                    font-family: painter;
                    @media screen and (max-width:700px){
                        position: absolute;
                        top: -50%;
                        left: 2%;
                    }
                }
                &::after{
                    content: '</span>';
                    opacity: 0.5;
                    position: relative;
                    left:2%;
                    color: #777;
                    font-weight: bolder;
                    font-family: painter;
                }
            }
            &::before{
                content: '<h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
                @media screen and (max-width:700px) {
                    left:-10%;
                }
            }
            &::after{
                content: '</h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
                @media screen and (max-width:700px) {
                    left:-10%;
                }
            }
        }
        &::before{
            content: '<body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-15%;
            top: -3em;
            @media screen and (max-width:700px) {
                left:-20%;
            }
        }
        &::after{
            content: '</body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left: -15%;
            top: 3em;
            @media screen and (max-width:700px) {
                left:-20%;
            }
        }
    }

    .styling{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @media screen and (max-width:700px) {
            position: initial;
        }
        section{
            position: absolute;
            color: white;
            padding: .8em 1em;
            border-radius: 1em;
            border-bottom-right-radius: 0;
            box-shadow: 0px 0px 20px #222;
            left: 0;
            top: 0;
            z-index: 1;
            font-weight: bold;
            animation: in .8s forwards ease-out;
            letter-spacing: 1px;
            text-transform: capitalize;
            overflow: hidden;
            background: rgba(252, 253, 252, 0.05);
            cursor: pointer;
            &::after{
                content: " ";
                position: absolute;
                left: 0;
                top: 0;
                width:30%;
                height: 100%;
                background: $textHover;
                z-index: -2;
                transition:all .5s ease-out;
            }
            &::before{
                content: " ";
                position: absolute;
                left: -10%;
                top: 0;
                width:10%;
                height: 100%;
                background: rgba(252, 253, 252, .2);
                z-index: -1;
                opacity: 0;
                transition: all .5s ease-out;
            }
            &:hover{
                &::before{
                    left: 100%;
                    opacity: 1;
                }
                &::after{
                    width:48%;
                }
            }
            @media screen and(max-width:800px) {
                top:20%;
                left: 60%;
                transform: translate(-50%,-50%);
            }
        }
        .avatar{
            width: 70%;
            filter: drop-shadow(0px -10px 10px rgba(0,0,0,.2));
            @media screen and (min-width:3000px) {
                width: 300%;
            }

            @media screen and (min-width:1600px) and (max-width:2999) {
                width: 200%;
            }
        }
    }
}

@keyframes in{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}