@import '../settings/settings';

.parent{
    display: flex;
    width: 95%;
    flex-flow: row;
    padding: 60px;
    .content{
        // width: 60%;
        border-radius: 10px;
        margin: auto;
        padding: 20px;
        color: $text;

        div{
            font-family: painter;
            h1{ 
                letter-spacing: 3px;
                font-family: snow;
                .BigC{
                    color: $textHover;
                }
                span{
                    transition: 0.5s ease;
                    &:hover{
                        font-size:50px;
                    }
                }
            }
            p{
                font-family: serif;
                font-weight: bold;
                letter-spacing: 2px;
                color: $textHover;
                margin: -5% 0 5% 0%;
            }
            &::before{
                content: '<h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
            }
            &::after{
                content: '</h1>';
                opacity: 0.5;
                position: relative;
                left:-5%;
            }
        }
        &::before{
            content: '<body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-10%
        }
        &::after{
            content: '</body>';
            font-family: painter;
            opacity: 0.5;
            position: relative;
            left:-10%
        }
    }
    .styling{
        // width: 45%;
        position: relative;
        img{
            position: absolute;
            opacity: 0.7;
            // width: 100%;
            border-radius: 50%;
            transform: rotate(20deg);
        }
    }
}