@import '../settings/settings';

.nav{
    position: fixed;
    height: 5%;
    width: 10%;
    left: 50%;
    bottom: 1%;
    transform: translateY(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    @media screen and (max-width:800px) {
        width: 40%;
        left: 30%;
    }
    a{
        width: 12%;
        height: 50%;
        border-radius: 1em;
        position: relative;
        border: 2px solid #555;
        padding: .3em;
        transition: all .5s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
        &:hover{
            background: grey;
        }
    }
    .active{
        border: 2px solid $textHover;
        &::before{
            content: "";
            position: absolute;
            width: 80%;
            height: 80%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background: $textHover;
            transform: translate(-50%,-50%);
        }
    }
}