@import '../settings/settings';
@keyframes presence {
   0% { left: 100vw }
  100% { left:0 }
}

@keyframes fromLeft {
    0%{
        left: -50%;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
@keyframes toLeft {
    0%{
        left: 0%;
        opacity: 1;
    }
    100%{
        left: -50%;
        opacity: 0;
    }
}

.navbar{
    flex: .08;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 3em 0 ;

    @media screen and (max-width:1400px){
        font-size: 13px;
    }

    @media screen and (min-width:700px) {
        overflow: hidden;
    }

    @media screen and (max-width:700px){
        position: absolute;
        backdrop-filter: blur(20px);
        height: 100%;
        z-index: 5;
        padding: 3em;
        border-bottom-right-radius: 4em;
        border-top-right-radius: 4em;
        animation: fromLeft .5s ease-out;
        box-shadow: 0px 0px 50px black;
        -webkit-backdrop-filter: blur(20px);
    }
    
    a   {
        color: $text;
    }

    .logo   {
        cursor: pointer;
        width: 40px;

        @media screen and (min-width:5600px) {
            width: 70px;
        }

        @media screen and (min-width:1600px) {
            width: 50px;
        }

        img{
            width: 100%;
        }
    }  

    .links  {
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: space-between;

        p{
            font-family: 'Jura', sans-serif;
        }
        a{
            text-transform: uppercase;
            text-decoration: none;
            padding: 1em 0;
            width: 100%;
            max-height: 20%;
            min-height: 20%;
            @media screen and (max-width:700px){
                margin: 0;
            }
   
            .icon { 
                font-size: larger;
            }
            p   { 
                display: none;
                font-size: 13px;
            }
            .active_icon{
                display: none;
            }

            &:hover{
                color: $textHover; 
                .icon { display: none }
                .active_icon{display: none;}
                p { display:initial }
            }
        }
        .active{
            color: $textHover;
            .active_icon{
                display: initial;
            }
            .icon{
                display: none;
            }
        }
    }

    .player{
        i{
            color: $textHover;
            font-size: x-large;
            cursor: pointer;
            text-shadow: 0.5px .5px 0px #FF0066;
            outline: none;
        }
        @media screen and (max-width:700px) {
            i{
                color: white;
                text-shadow: none;
            }
        }
    }
    
    .social {
        display: flex;
        flex-flow: column;
        align-items: center;
        a{
            margin: 10px 0;
            i{ font-size: larger }
            &:hover{
                color: $textHover;
            }
        }
    }
}

.opener{
    position: fixed;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    color: whitesmoke;
    background: linear-gradient(#2a2a2a 70%,transparent);
    .avatar{
        width: 35px;
    }
    .fa-times{
        animation: spin .5s ease-in-out;
    }
}