@import '../settings/settings';
@keyframes presence{
   0% { left: 100vw }
  100% { left:0 }
}

.navbar{
    background: url('../../assets/svg/back.svg') no-repeat;
    background-position: bottom;
    background-size: max($numbers: 150px);
    border: 1px solid $baseBackground*1.3;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 0px #222;
    @media screen and (max-width:1400px){
        font-size: 13px;
    }

    @media screen and (min-width:700px) {
        border-radius: 50px;
        overflow: hidden;
        margin-left: 1%;
    }

    @media screen and (max-width:700px){
        flex-flow: row;
        width: 100%;
        height: fit-content;  
        background: none;
    }
    
    a   {
        color: $text;
    }

    .logo   {
        background-color: $textHover/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 10px 0px #000;

        h3{
            font-weight: bold;
            font-family: roboto-regular;
            text-shadow: 3px 2px 0px  rgba(255, 255, 255, 0.5);
            margin: 0;
            color: #FF0066;
        }
        p{
            color: $text;
            padding: 0 5px;
            font-weight: bolder;
            opacity: 0.6;   
        } 
    }  

    .links  {
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: space-around;

        @media screen and (max-width:700px){
            flex-flow: row;
            background: $baseBackground/2;
            position: fixed;
            width: 100%;
            height: 10%;
            top:0%;
            z-index: 1;
            align-items: center;
            animation: presence 1s ease;
            i{ font-size: xx-large }
        }

        p{
            margin:  10px 0;
            font-family: 'Jura', sans-serif;

        }
        a{
            text-transform: uppercase;
            margin:  10px 0;
            @media screen and (max-width:700px){
                margin: 0;
            }
   
            i   { 
                font-size: larger 
            }
            p   { 
                display: none;
                font-size: 13px;
                // @media screen and (max-width:1400px){
                //     font-size: 10px;
                //     background: red;
                // }
            }

            &:hover{
                color: $textHover; 
                i { display: none }
                p { display:initial }
            }
        }
        .active{
            color: $textHover;
        }
    }

    .player{
        i{
            color: $textHover;
            font-size: x-large;
            cursor: pointer;
            text-shadow: 0.5px .5px 0px #FF0066;
            outline: none;
        }
        @media screen and (max-width:700px) {
            i{
                color: white;
                text-shadow: none;
            }
        }
    }
    
    .social {
        display: flex;
        flex-flow: column;
        align-items: center;
        @media screen and (max-width:700px){
            flex-flow: row;
            justify-content: space-around;
            width: 100%;
        }
        a{
            margin: 10px 0;
            i{ font-size: larger }
            &:hover{
                color: $textHover;
            }
        }
    }
}