.notfound{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: 40%;
        height: 80%;
    }
    div{
        p{
            font-size: 4em;
            color: white;
            text-transform: capitalize;
            @media screen and (min-width:1600px) {
                font-size: 5em;
            }
            @media screen and (min-width:1900px) {
                font-size: 7em;
            }
            span{
                color: rgb(1, 143, 119);
                font-family: snow;
                font-weight: bolder;
                letter-spacing: 5px;
            }
        }
        button{
            border: 1px solid #333;
            padding: 1em 1.5em;
            border-radius: .5em;
            background: linear-gradient(150deg, crimson 0%, #222 100%);
            backdrop-filter: blur(100);
            outline: none;
            color: white;
            box-shadow: 0px 0px 10px #222;
            transition:all .5s;
            i{
                margin-left: .5em;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
