@import '../settings/settings';

.skills{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2em;
    // align-content: center;
    @media screen and (max-width:1024px){
        display: flex;
        flex-flow:column ;
        overflow-y: scroll;
        grid-gap: 0.5em;
    }
    .front{
        background:url('../../assets/images/laptop.jpg') no-repeat;
        background-size:cover;
    }
    .back{
        background:url('../../assets/images/server.jpg') no-repeat;
        background-size:cover
    }
    .mobile{
        background:url('../../assets/images/netflix.jpg') no-repeat;
        background-size:cover;
    }
    div{
        text-align:center;
        height:50vh;
        position: relative;
        transform-style: preserve-3d;
        transition:all 0.5s ease;
        color:white;
        z-index:0;
        border-radius:10px;
        @media screen and (max-width:1024px) {
            height: 1000;
        }
        &:hover{ 
            transform: perspective(800px) rotateY(180deg);
        }
        h3{
            font-size:2em;
            font-family: snow;
            text-transform: uppercase;
            transform: perspective(800px) translateZ(100px);
        }
        section{
            position:absolute;
            height: 100%;
            width:100%;
            z-index: 2;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            display:flex;
            flex-flow:column-reverse;
            align-items: center;
            justify-content: center;
            background:url('../../assets/svg/button.svg') no-repeat;
            background-size:cover;
            background-position: right;
            border-radius:10px;
            &:last-child{
                flex-flow:column;
                background-position: left;
                transform:  perspective(800px) rotateY(180deg)
            }
            li{
                display:flex;
                align-items:center;
                transform: perspective(800px) translateZ(100px);
                img{
                    margin:2% 5%;
                }
             }
            button{
                padding:10px 0;
                width:30%;
                border:none;
                border-radius:30px;
                color:$textHover;
                margin:10% 0;
                margin-top:-20%;
                @media screen and (max-width:700px){
                    margin-top:0%;
                }
                i,img{ 
                    transform: perspective(800px) translateZ(100px);
                }
                
            }
        }
    }
}
