@keyframes fromRight {
    from{
        opacity: 0;
        right: -100%;
    }
    to{
        opacity: 1;
        right: 0;
    }
}

@keyframes toRight {
    from{
        opacity: 1;
        right: 0%;
    }
    to{
        opacity: 0;
        right: -100%;
    }
}

@keyframes animLeft{
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes opacifyIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes animUp{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animDown{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scroller {
    0%{
        left: 50%;
        top: 10%;
        transform: translate(-50%,-50%);
        opacity: 1;
    }
    100%{
        left: 50%;
        top: 80%;
        transform: translate(-50%,-50%);
        opacity: .1;
    }
}

@keyframes overlay {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	90% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}
