*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

html,body{
    min-height: 100%;
    background: whitesmoke;
}

.App{
    height: 100vh;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.mouse{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #222;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all .3s ease-in-out;
    transition-property: transform,background,border;
    transform-origin: 100% 100%;
    z-index: 25;
    @media screen and (max-width:800px) {
        display: none;
    }
}

.grow{
    transform: scale(1.7);
    border: 1px solid #555;
    background: white;
    mix-blend-mode: difference;
}

.social-grow{
    transform: scale(1.7);
    background: rgba(16, 185, 129,1);
    mix-blend-mode: difference;
}

#skills,#work,#about,#contact,#home{
    height: 100vh;
    max-height: 1000px;
    scroll-snap-align: start;
}

